<div class="content-wrapper container-xxl p-0">
	<div class="content-body">
		<!-- content-header component -->
		<app-content-header [contentHeader]="$any(contentHeader)"></app-content-header>
		
		<section id="basic-vertical-layouts">
			<div class="row match-height">
				<div class="col-md-12 col-12">
					<core-card-snippet>
						<h4 class="card-title">Search Form</h4>
						
						<div class="card-body">
							<form class="form form-vertical">
								<div class="row">
									<div class="col-3">
										<div class="form-group">
											<label for="first-name-vertical">First Name</label>
											<input
													type="text"
													id="first-name-vertical"
													class="form-control"
													name="fname"
													placeholder="First Name"
											/>
										</div>
									</div>
									<div class="col-3">
										<div class="form-group">
											<label for="email-id-vertical">Email</label>
											<input
													type="email"
													id="email-id-vertical"
													class="form-control"
													name="email-id"
													placeholder="Email"
											/>
										</div>
									</div>
									<div class="col-3">
										<div class="form-group">
											<label for="contact-info-vertical">Mobile</label>
											<input
													type="number"
													id="contact-info-vertical"
													class="form-control"
													name="contact"
													placeholder="Mobile"
											/>
											<app-data-select [listData]="TYPE_LIST">
											
											</app-data-select>
										</div>
									</div>
									<div class="col-3">
										<div class="form-group">
											<label for="password-vertical">Password</label>
											<input
													type="password"
													id="password-vertical"
													class="form-control"
													name="contact"
													placeholder="Password"
											/>
										</div>
									</div>
									<div class="col-12">
										<button type="submit" rippleEffect class="btn btn-primary mr-1">Submit</button>
										<button type="reset" rippleEffect class="btn btn-outline-secondary">Reset</button>
									</div>
								</div>
							</form>
						</div>
					</core-card-snippet>
				</div>
			</div>
		</section>
		
		<!-- Kitchen Sink Datatables -->
		<section id="ngx-datatable-kitchen-sink">
			<core-card-snippet>
				<h4 class="card-title">Template Email</h4>
				<div class="row">
					<div class="col-md-6 col-12">
						<div class="d-flex justify-content-between align-items-center m-1">
							<label class="d-flex align-items-center">
								Show
								<select class="form-control mx-25" [(ngModel)]="basicSelectedOption">
									<option value="10">10</option>
									<option value="25">25</option>
									<option value="50">50</option>
									<option value="100">100</option>
								</select>
								entries
							</label>
						</div>
					</div>
					<div class="col-md-6 col-12 d-flex justify-content-md-end">
						<div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
							<button class="btn btn-primary ml-1" rippleEffect>
								<i data-feather="plus" class="mr-0 mr-sm-1"></i>
								<span class="d-none d-sm-inline-block">Add New Record</span>
							</button>
							<button class="btn btn-primary ml-1" rippleEffect>
								<i data-feather="plus" class="mr-0 mr-sm-1"></i>
								<span class="d-none d-sm-inline-block">Add New Record</span>
							</button>
							<button class="btn btn-primary ml-1" rippleEffect>
								<i data-feather="plus" class="mr-0 mr-sm-1"></i>
								<span class="d-none d-sm-inline-block">Add New Record</span>
							</button>
						</div>
					</div>
				</div>
				<ngx-datatable
						[rows]="kitchenSinkRows"
						[rowHeight]="58"
						class="bootstrap core-bootstrap"
						[limit]="10"
						[columnMode]="ColumnMode.force"
						[headerHeight]="40"
						[footerHeight]="50"
						[scrollbarH]="true"
						[selectionType]="SelectionType.checkbox"
						[limit]="basicSelectedOption"
						(activate)="onActivate($event)"
						(select)="onSelect($event)"
				>
					<ngx-datatable-column
							[width]="50"
							[sortable]="false"
							[canAutoResize]="false"
							[draggable]="false"
							[resizeable]="false"
					>
						<ng-template
								ngx-datatable-header-template
								let-value="value"
								let-allRowsSelected="allRowsSelected"
								let-selectFn="selectFn"
						>
							<div class="custom-control custom-checkbox">
								<input
										type="checkbox"
										class="custom-control-input"
										[checked]="allRowsSelected"
										(change)="selectFn(!allRowsSelected)"
										id="headerChkbxRef"
								/>
								<label class="custom-control-label" for="headerChkbxRef"></label>
							</div>
						</ng-template>
						<ng-template
								ngx-datatable-cell-template
								let-rowIndex="rowIndex"
								let-value="value"
								let-isSelected="isSelected"
								let-onCheckboxChangeFn="onCheckboxChangeFn"
						>
							<div class="custom-control custom-checkbox">
								<input
										type="checkbox"
										class="custom-control-input"
										[checked]="isSelected"
										(change)="onCheckboxChangeFn($event)"
										id="rowChkbxRef{{ rowIndex }}"
								/>
								<label class="custom-control-label" for="rowChkbxRef{{ rowIndex }}"></label>
							</div>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Name" prop="full_name" [width]="280">
						<ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
							<div class="d-flex align-items-center">
								<div *ngIf="row.avatar.length > 0; else customAvatar">
<!--									<img-->
<!--											class="rounded-circle mr-1"-->
<!--											src="assets/images/portrait/small/{{ row.avatar }}"-->
<!--											height="32"-->
<!--											width="32"-->
<!--											alt="datatable-avatar"-->
<!--									/>-->
								</div>
								<ng-template #customAvatar>
									<div
											class="avatar mr-1 ml-0"
											[ngClass]="{
                      'bg-light-primary': row.status == '1',
                      'bg-light-success': row.status == '2',
                      'bg-light-danger': row.status == '3',
                      'bg-light-warning': row.status == '4',
                      'bg-light-info': row.status == '5'
                    }"
									>
										<div class="avatar-content">{{ name | initials }}</div>
									</div>
								</ng-template>
								<div class="cell-line-height">
									<p class="font-medium-1 font-weight-bold line-height-1 mb-25">
										{{ name }}
									</p>
									<span class="text-muted font-small-2"> {{ row.post }}</span>
								</div>
							</div>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Email" prop="email" [width]="250"></ngx-datatable-column>
					<ngx-datatable-column name="Date" prop="start_date" [width]="120"></ngx-datatable-column>
					<ngx-datatable-column name="Salary" prop="salary" [width]="120"></ngx-datatable-column>
					<ngx-datatable-column name="Status" prop="status" [width]="120">
						<ng-template let-status="value" ngx-datatable-cell-template>
							<div
									class="badge badge-pill"
									[ngClass]="{
                  'badge-light-primary': status == '1',
                  'badge-light-success': status == '2',
                  'badge-light-danger': status == '3',
                  'badge-light-warning': status == '4',
                  'badge-light-info': status == '5'
                }"
							>
								{{
								status == 1
									? 'Current'
									: status == 2
										? 'Professional'
										: status == 3
											? 'Rejected'
											: status == 4
												? 'Resigned'
												: status == 5
													? 'Applied'
													: 'Applied'
								}}
							</div>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Actions" [width]="120" [sortable]="false">
						<ng-template ngx-datatable-cell-template>
							<div class="d-flex align-items-center">
								<div ngbDropdown container="body">
									<a
											ngbDropdownToggle
											href="javascript:void(0);"
											class="hide-arrow"
											id="dropdownBrowserState"
											data-toggle="dropdown"
											aria-haspopup="true"
											aria-expanded="false"
									>
										<i data-feather="more-vertical" class="text-primary cursor-pointer mr-50"></i>
									</a>
									<div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBrowserState">
										<a href="javascript:void(0)" ngbDropdownItem class="d-flex align-items-center"
										><i data-feather="file-text" class="mr-50"></i> Details</a
										>
										<a href="javascript:void(0)" ngbDropdownItem class="d-flex align-items-center"
										><i data-feather="archive" class="mr-50"></i> Archive</a
										>
										<a href="javascript:void(0)" ngbDropdownItem class="d-flex align-items-center"
										><i data-feather="trash-2" class="mr-50"></i> Delete</a
										>
									</div>
								</div>
								
								<i data-feather="edit" class="text-primary cursor-pointer"></i>
							</div>
						</ng-template>
					</ngx-datatable-column>
				</ngx-datatable>
			</core-card-snippet>
		</section>
		<!--/ Kitchen Sink Datatables -->
	</div>
</div>
